<mat-card>

    <mat-card-title fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="8px">
        <div>
            <adm-shell-avatar [name]="currency.name"
                              [initials]="currency.symbol"
                              [imageURL]="currency.logoImageUrl">
            </adm-shell-avatar>
        </div>
        <div fxFlex="grow"
             style="white-space: nowrap;">
            {{currency.name}}
            ({{currency.symbol | uppercase}})
        </div>
    </mat-card-title>
    <mat-card-content *ngIf="actionTemplate">
        <div fxLayout="column"
             fxLayout.gt-sm="row"
             fxLayoutGap="8px">
            <ng-container *ngTemplateOutlet="actionTemplate; context: { $implicit: currency  }">
            </ng-container>
        </div>
    </mat-card-content>

</mat-card>