<button mat-icon-button
        [ngStyle]="{'color': ( hasPending$ | async) ? '#ed8a22': ''}"
        (click)="openNotifications()">
    <mat-icon>
        {{ (hasPending$ | async) ? 'notifications_active' : 'notifications'}}
    </mat-icon>
</button>


<div style="position: fixed; top:74px; right:16px; z-index: 1000;"
     *ngIf="popoverNotification$ | async as notification;"
     [@slideInOut]>
    <adm-shell-notification-card [notification]="notification"
                                 (dismissed)="dismiss($event.id)">
    </adm-shell-notification-card>

</div>