<h1 class="mat-display-1">
    Global Configuration
</h1>

<form [formGroup]="form"
      *ngIf="(this.form.controls['exchange_rates_plugin']) && config$ | async as config;">

    <mat-tab-group>
        <mat-tab label="Plugins">
            <div fxLayout="column"
                 fxLayoutGap="16px"
                 style="margin:16px">


                <div>
                    <h2>Plugins Configuration</h2>
                </div>

                <adm-config-selector-card [items]="exchangeRatesPlugins$ | async"
                                          data-title="Exchange Rates Plugin"
                                          description="Plugin that will be used to obtain exchange rates when creating invoices"
                                          [formControl]="form.get('exchange_rates_plugin')">
                </adm-config-selector-card>

                <adm-config-selector-card [items]="currencyMetadataPlugins$ | async"
                                          data-title="Currency Metadata Plugin"
                                          description="Plugin that will be used to obtain metadata for currencies like names, logos, descriptions and so on."
                                          [formControl]="form.get('currency_metadata_plugin')">
                </adm-config-selector-card>

                <mat-card>
                    <mat-card-title>
                        Plugin Hosts
                    </mat-card-title>
                    <mat-card-content>
                        <p *ngFor="let host of config.plugin_hosts">
                            {{host}}
                        </p>
                    </mat-card-content>
                </mat-card>

                <div>
                    <h2>Installed Plugins</h2>
                    <p>These are the plugins provided by the plugin hosts</p>
                </div>

                <div fxLayout="column"
                     fxLayoutGap="8px">
                    <mat-card *ngFor="let plugin of plugins$ | async"
                              fxLayout="row"
                              fxLayoutAlign="start center">
                        <div fxFlex
                             fxFill>
                            <mat-card-title fxLayout="row"
                                            fxLayoutAlign="start center"
                                            fxLayoutGap="8px">
                                <div>
                                    <adm-shell-avatar [name]="plugin.name"
                                                      [imageURL]="plugin.logoImageUrl">
                                    </adm-shell-avatar>
                                </div>
                                <div fxFlex="grow"
                                     style="white-space: nowrap;">
                                    {{plugin.name}}
                                </div>
                            </mat-card-title>
                            <mat-card-content>
                                <p>
                                    {{plugin.pluginType}} plugin: <b>{{plugin.id}}</b>
                                </p>
                            </mat-card-content>
                        </div>
                        <!-- <div>

                            <button type="button"
                                    mat-button>
                                SETTINGS
                            </button>
                        </div> -->
                    </mat-card>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Invoice">

            <adm-config-invoice-edit [form]="form"></adm-config-invoice-edit>

        </mat-tab>
    </mat-tab-group>
</form>